<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title><%= typeof title !== 'undefined' ? title : 'App' %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>